body {
    background: #4b4b4b;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.81);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 auto 0 auto;
    max-width: auto;
    padding: 0;
}

a:link {
    text-decoration:none;color:#ffffff;
    }
a:visited {
    text-decoration:none;color:#d3d3d3;
    }
a:hover {
    text-decoration:none;background-color:#575757; padding-top: 10px; padding-bottom: 10px
    }
a:active {
    text-decoration:none; background-color:#efefef;
    }
p {
    color:#e8e8e8
    }

#top {
	margin: 10px 0px 10px 0px;
	padding-top: 2px;
    padding-bottom: 420px;
	border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
	background: #666;
	height: 1000px;
	}
#navigation {
    width: auto;
    text-align: center;
    margin: 5 auto 0 auto;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 4px;
    position: fixed;
    background-image: linear-gradient(#343434, #0f0f0f);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
    border-top: 1px solid #d3dfff;
    border-bottom: 1px solid #d3dfff;
    border-right: 1px solid #d3dfff;
    }
#bild {
    width: auto;
    margin: 0 0 0 0;
    text-align: left;
    font-size: 150%;
    color: #ffffff;
    padding: 0px;
    }
html>body #top {
	height: 70px; /* ie5win fudge ends */
	}

#middle {
	margin: 20px 400px 20px 400px;
	padding: 10px;
	border: 1px solid #50a8ff;
	background: #0f0f0f;
	}
#logo {
    text-align: center;
    font-size: 100%;
    color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    }
#middleÜberschrift1 {
    text-align: center;
    font-size: 150%;
    color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    }
#middleÜberschrift2 {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    font-size: 80%;
    color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    }
#middleText {
    width:auto;
    font-size: 80%;
    margin: 10 100 0 100;
    letter-spacing: 1px;
    padding-bottom: 1000px;
    }

#right1 {
	position: fixed;
	top: 260px;
	right: 60px; /* Opera5.02 will show a space 
	at right when there is no scroll bar */
	margin: 10px;
	padding-top: 0px;
	padding-left: 10px;
    padding-right: 10px;
	border: 2px solid #ccc;
    background-image: linear-gradient(#343434, #0f0f0f);
	//background: #3c3c3c;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 200px;
    z-index: 10;
	}
#right2 {
	position: fixed;
	top: 400px;
	right: 60px; /* Opera5.02 will show a space 
	at right when there is no scroll bar */
	margin: 10px;
	padding-top: 0px;
	padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
	border: 2px solid #50a8ff;
	background-image: linear-gradient(#343434, #0f0f0f);
    //background: #3c3c3c;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 200px;
    z-index: 10;
	}
#right3 {
	position: fixed;
	top: 644px;
	right: 60px;
	margin: 10px;
    padding-top: 0px;
	padding-left: 10px;
    padding-right: 10px;
	border: 2px solid #ccc;
	background-image: linear-gradient(#343434, #0f0f0f);
    //background: #3c3c3c;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 200px;
    z-index: 10;
	}
#rightÜberschrift {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    font-size: 120%;
    color: #ffffff;
    margin: 0 auto 0 auto;
    }
#rightText {
    width:auto;
    font-size: 80%;
    margin: 10 auto 10 auto;
    letter-spacing: 1px;
    text-align: center
    }
html>body #right {
	width: 200px; /* ie5win fudge ends */
	}

#footer {
    text-align: center;
    font-size: 60%;
    }
