.footer {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  overflow: hidden;
  background-color: white;
  height: auto;
  width: 100%;
}

.footerPartFrame {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
  margin: 10px 20px;
}

.footerPicture {
  display: block;
  margin: 0px auto;
  width: 50px;
  height: 50px;
  padding-top: 40px;
}

.footerText {
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.footerCopyright {
  width: 100%;
  background-color: #666;
  text-align: center;
  font-size: 14px;
  color: white;
}

#cookie-popup {
  text-align: center;
  color: white;
  background: #666;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 250px;
  z-index: 100;
  font-size: 16px;
  font-family: "Abel", sans-serif;
  line-height: 25px;
  padding: 20px;
}

.cookieButton {
  margin: 10px 0px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  height: 50px;
  width: 200px;
  background-color: #195757;
  transition: all 0.3s ease-in-out;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: "Abel", sans-serif;
  font-weight: 200;
}

.cookieButton:hover {
  background-color: #154848;
}

@media all and (max-width: 880px) {
  .footer {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
    background-color: white;
    height: auto;
    width: 100%;
  }

  .footerPartFrame {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 10px auto;
  }
}
