.header {
  overflow: hidden;
  background-color: white;
  height: auto;

  flex: 1 1 100%;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.headerPictureFrame {
  height: auto;
  width: 100%;
}

.headerPicture {
  height: auto;
  width: 100%;
}

.headerTextFrame {
  background-color: white;
  height: auto;
  width: 100%;
}

.headerText {
  padding: 1%;
  text-align: center;
  font-size: 50px;
  font-family: "Abel", sans-serif;
  color: black;
}

.headerButton {
  max-width: 430px;
  padding-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}

.scrollToContact,
.scrollToServices {
  text-align: center;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  height: 50px;
  width: 150px;
  background-color: #069059;
  color: white;
  border: none;
}

.scrollToContact {
  background-color: #195757;
}

.scrollToServices {
  background-color: #c03221;
}

.scrollToContact:hover {
  background-color: #154848;
}

.scrollToServices:hover {
  background-color: #9e291c;
}

@media all and (max-width: 1300px) {
}

@media all and (max-width: 620px) {
  .scrollToContact,
  .scrollToServices {
    width: 100%;
    margin: 10px;
  }
}
